extends ../layouts/layout


block content
  .row
    .col-md-12
      script(src="/js/gmap.js")
      a.btn.btn-primary(href="#", id="load-markers") Load markers
      span &nbsp
      a.btn.btn-primary(href="#") Add marker
      div.spacer(style="height:5px;width:100%")
      div(id="map-canvas", style="height: 500px; width: 100%; padding:0; margin: 0;")

      br



