extends ../layouts/layout


block content
  .row
    .col-md-12
      form.form-inline
        div.form-group
          a.btn.btn-primary(href="#", id="save-marker", disabled) Save marker
        span.main-error-block.text-danger.small(style="display:none;margin-left:10px")
      div.spacer(style="height:5px;width:100%")
      div(id="map-canvas", style="height: 500px; width: 100%; padding:0; margin: 0;")
      br
