extends ../layouts/layout
block content
  .row
    .col-md-12
      h1 Websockets test
      form.form-inline
        div.form-group
          a.btn.btn-primary(href="#", id="send-ws-auth") Send auth
        | &nbsp;
        div.form-group
          input.form-control(id="ws-message", placeholder="Websocket message text")
        | &nbsp;
        a.btn.btn-default(href="#", id="send-ws-message") Send
      br
      div.panel.panel-default
        div.panel-heading Messages
        div.panel-body
          ul.list-group(id="ws-messages")
